@charset "utf-8";

html{
  scroll-behavior: smooth;
}

/* header{} */
header{
  width: 100%; height: 116px;
  position: fixed; top: 0px;
  font-family: 'Gmarket Sans', sans-serif, arial;
  background-color: #fff;
  z-index: 10;
}
  
  header a{color: #333;}
  .h_top_nav a{color: #333;}
  
  
  /* 1. 헤더 top */
  .h_top{
    width: 1200px;
    height: 70px;
    margin: 0px auto;
    position: relative;
    color: #222;
  }
  
  
  .h_top > h1{position: absolute; top:7px; left: 0px;}
  
  .h_top >h1 img{width: 110px; height: 55px;} 
  
  .h_top > .h_lnb{position: absolute; right:0px; line-height: 80px; font-size: 17px;} 
  
  .h_top > .h_lnb > ul{
    display: flex;}
  
  .h_lnb > ul > li{padding-left: 20px;}
  .h_lnb > ul > li:first-child{padding-right: 15px;}

  /* .h_lnb > ul > li:nth-child(2){
    padding:0px 20px;} */

  .h_lnb > ul > li:nth-child(2), .h_lnb > ul > li:last-child{
    transform: translateY(-3px);
  }

  .search_wrap{
      display: flex;
      justify-content: space-between;
      /* margin: 0px auto; */
      transform: translateY(23px);      
      border-bottom: 1.5px solid #222;
      width: 15px;
  }

  .search_wrap legend{display: none;}

  .h_lnb .search{
    border: hidden;
    width: 170px;
    padding-bottom:3px;
    /* border-bottom: 2px solid #222; */
    /* padding-bottom: 7px; */
  }

  .icon_search{
    height: 26px;
    position: relative;
    transform: translateY(-5px);
  }
  
  .user_txt{font-size: 15px;}
  .icon_user{
    height: 28px; 
    position: relative; top: 8px; left: -8px;
  }

  /* .h_user_txt{font-weight: 300;} */

  #lan{
    border: hidden;
    transform: translateY(-1px);
  }

  .icon_lan{height: 23px; position: relative; top: 5px;}
  
  
  /* 2. 헤더 bottom  */
  .h_bottom
    {height: 45px; 
    border-top: 1px solid #fff; 
    border-bottom: 1.5px solid #efefef;
    font-size: 17px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 11;
    background-color:rgba(255, 255, 255, 0.9);
    }
    
    .h_bottom:hover{height: 380px;}
  
    .h_bottom > .gnb{
      width: 1200px; margin: 0px auto;
    } 

    /* .h_bottom > .gnb > ul > li >a{font-size: 18px; font-weight: 500;} */
  
  .h_bottom > .gnb > ul{
    display: flex; 
    justify-content: space-between;
    line-height: 50px;}

  .h_bottom > .gnb a{
    color: #777;
  }

  .h_bottom > .gnb > ul:first-child a:focus{
    /* border-bottom: 3px solid #97af8f;
    padding-bottom: 7px;  */
    /* font-weight: 700; */
    color: #97af8f;
    font-weight: 700;
  }

  .h_bottom > .gnb a:hover{
    color: #97af8f;
  }

  .h_bottom > .gnb > ul > li{
    position: relative;
  }

  .h_bottom > .gnb > ul > li > a{
  padding: 0px 50px;
  }

  .h_bottom .sub{
    position: absolute;
    width: 100%;
  }

  .h_bottom .sub > li{
    text-align: center;
    line-height: 45px;
  }

  .h_bottom .sub > li > a{
    font-size: 16px; font-weight: normal;
  }







/* footer{} */ 
footer{
  background: #F5F6F7;
  width: 100%;} 

footer > .f_box{
  width: 1200px; margin: 0px auto; padding: 40px 15px;}

footer > .f_box > .f_nav{ display: flex; justify-content: space-between;}

.f_lnb li:nth-child(2) > a{font-weight: 700;}

.f_lnb > ul{display: flex;}

.f_lnb > ul  a{padding-right:15px; font-size: 18px;}

.f_sns > ul{display: flex;}

.f_box > address{line-height: 30px;padding-top:30px; font-size: 17px;}

.icon_top > img{width: 60px; height: 60px; position: fixed; bottom: 30px; right: 30px;}

.icon_top{display: none;}