@charset "utf-8";

/* index페이지의 메인레이아웃 */
main{
  text-align:center;
  padding-top: 200px;
}

h2{
  color: #333333;
  font-size:34px;
  font-weight: 600; 
  padding-bottom: 66px;
}
fieldset > legend{
  display: none;
}
.b_id, .b_pw{
  border:1px solid #BBBBBB;
  border-radius: 5px;
  width:386px;
  height:50px;
  margin: 7.5px;
  color: #333333;
  background: #F6F6F6;
  font-size:17px;
  font-weight: lighter;
  font-family:gmarket sans TTF;
}
input[type=submit]{
  border-radius: 5px;
  margin: 2.5px;
  width:392px;
  height:50px;
  background-color:#686969;
  color:#fff;
  border: 1px solid #686969;
  font-weight: bold;
  font-size: 18px;
}

.auto_login{
  display: flex;
  padding-top: 12.5px;
  padding-bottom: 91px;
  justify-content:center;
}
.auto_login > li > .alog_icon{
  margin-right: 7px;
}
.auto_login > li > .left_autolog{
  margin-right: 150px;
}

fieldset a[href]{
  color:#686969;
  text-decoration: none;
  font-size:13px;
  font-family:gmarket sans TTF;
}

.easy_login{
  color: #686969;
  font-family:gmarket sans TTF;
  padding-bottom: 30px;
}
.easy_login_txt{
  padding: 0px 20px;
}

main > .logo_icon{
  text-align: center;
}
.logo_icon{
  margin: 0px auto;
  display:block;
  text-align:center;
  width: 266px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 42px;
}
.logo_icon img{
  width: 48px;
}

.txt_join{
  font-size:13px;
  font-family:gmarket sans TTF;
  color: #686969;
  padding-bottom: 91px;
}
.txt_join > .join{
  font-weight: bold;
  text-decoration:none;
  color: #333333;
}