@charset "utf-8";

/* main{} */ 
/* TITLE */
.blank{
  height: 50px;
}
.k_content{
  width: 1200px;
  margin: 80px auto;
}
.k_content .camera{
  width: 54px;
  vertical-align: middle;
  padding-right: 10px;
  padding-bottom: 20px;
}
.k_content > h2{
  font-size: 32px;
  font-weight: 700;
}
.k_content h2 > span{
  position: relative;
}
.k_content > p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 90px;
}

/* menu&search */
.menu{
  display: flex;
  position: relative;
}
.k_content .b_nav, .s_nav{
  border-radius: 50px;
  background-color: #efefef;
  padding : 13px 20px;
  border: hidden;
  margin-right: 15px;
  margin-bottom: 30px;
  font-size: 15px; font-weight: 500;
  
}
.k_content .s_nav{
  background-color: #efefef;
  border: hidden;
  float: right;
  margin-right: 0px;
}
.k_content .b_nav:hover{
  background-color: #222; 
  color: #fff;
  font-weight: bold;
}

/* .search_wrap2{transform: translateX(560px);} */
.search_wrap2{
  text-align: right;
  position: absolute;
  right: 0px;
}

.search_wrap2 > legend{display: none;}

.icon_search2{
  height: 26px;
  /* position: absolute; */
  /* padding-left: 200px;
  padding-top: 3px; */
  position: relative;
  right: -220px; top: 6px;
}

/* 콘텐츠 (9개) */
.total{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.total > li{
  width: 380px; height: 410px;
  background-color: #fff;
  box-shadow: 0px 0px 30px 16px #ececec;
  border-radius: 13px;
  margin-bottom: 30px;
}
.total > li img{
  width: 380px; height: 210px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}
.total .caption{
  height: 160px;
  padding: 25px;
  position: relative;
}
.total .caption > p{
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
}
.total .caption > p.a_title{
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 70px; left: 30px;
} 
.total .caption span.location{
  background-color: #efefef;
  padding:8px 10px 4px 10px;
  border-radius: 30px;
  font-size: 13px; font-weight: 500;
  position: absolute;
  bottom: 35px; left: 25px;
}
/* 찜하기 버튼 */
.heart{
  display:inline-block;
  width:28px;height:26px;
  background-image:url('../img/sub_img/heart_empty.png');
  background-size: 28px 26px;
  text-indent:-9999px;
  position: absolute;
  right: 50px; bottom: 35px;
}
#toggle1{display:none;}
#toggle1:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle2{display:none;}
#toggle2:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle3{display:none;}
#toggle3:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle4{display:none;}
#toggle4:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle5{display:none;}
#toggle5:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle6{display:none;}
#toggle6:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle7{display:none;}
#toggle7:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle8{display:none;}
#toggle8:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle9{display:none;}
#toggle9:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle10{display:none;}
#toggle10:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle11{display:none;}
#toggle11:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}
#toggle12{display:none;}
#toggle12:checked+label{
  background-image:url('../img/sub_img/heart_red.png');
}

/* banner */
.banner{
  width: 1200px; height: 258px;
  background-color: #97AF8F;
  border-radius: 13px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 80px;
  margin-bottom: 90px;
}
.banner p{
  padding-top: 45px;
  font-size: 36px; font-weight: 700;
}
.banner a{
  background-color: #222;
  color: #fff;
  border-radius: 50px;
  padding: 12px 17px;
}

/* page 번호 */
.page{
  width: 650px;
  margin: 0px auto 25px auto;
  display: flex;
}
.p_number{
  margin: 0px auto;
  color: #ccc;
  font-size: 20px; font-weight: 500;
  align-items: center;
  line-height: 35px;
}
.page li>a:not(.p_number){
  color: #222;
  font-size: 20px; font-weight: 500;
  line-height: 35px;
}
.p_number:hover{
  color: #222;
}
.p_btn > img{
  width: 35px; height: 35px;
  padding: 0px 90px;
}