@charset "utf-8";

body{font-family:gmarket sans TTF;}

/* 메인레이아웃 */
main{
  text-align:center;
  padding-top: 200px;
  width: 1200px;
  margin: 0 auto;
}
h2{
  color: #333333;
  font-size:34px;
  font-weight: 600; 
  padding-bottom: 66px;
}

.agree_wrap{
  color: #333333;
  width: 370px;
  height: 386px;
  margin: 0px auto;
  background-color: #F6F6F6;
  overflow: hidden;
  display: flex;
  border-left: 100px;
  border:1px solid #BBBBBB;
  border-radius: 5px;
  font-size:17px;
  font-weight: lighter;
  padding-top: 30px;
  padding-left: 15px;
  text-align: left;
}
.agr_1{
  color: #686969;
  width: 1000px;
  font-size: 15px;
  /* margin-left: 30px;
  margin-right: 15px; */
  /* text-indent: -30px; */
  margin: 0 auto;
}
.agr_2{
  margin-top: 20px;
}
hr{
  margin: 0 auto;
  width: 335px;
  background:#BBBBBB;
  height:0.5px;
  border:0;}

.join_bnt{
  margin: 0px auto;
  padding-top: 20px;
  border-radius: 5px;
  width:386px;
  height:40px;
  background:#686969;
  border: none;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 91px;
}
.join_bnt a{
  color: #fff;
  font-size: 25px;
}